.jumbotron {
  background-image: url("https://res.cloudinary.com/jonathol/image/upload/v1499291261/weights_rwvpdi.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  border-radius: 0;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 400px;
  width: 400px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


ul.img-list span.text-content:hover {
  opacity: 1;
}

.img-list a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.img-list img {
  display: block;
}
